html {
  margin: 0;
}
body {
  background-color: #262626;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}
nav,
header,
footer,
section,
article {
  display: block;
}
a {
  color: #b83000;
}
h1 a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}
ul,
li {
  list-style-type: none;
}
code {
  font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace !important;
}
code .string,
code .regexp {
  color: #3d575c;
}
code .comment {
  color: rgba(0, 0, 0, 0.5);
}
code .number {
  color: #143352;
}
code .class,
code .special {
  color: rgba(0, 50, 100, 0.8);
}
pre {
  padding: 0 30px;
  text-wrap: wrap;
  white-space: pre-wrap;
  /* css-3 */

  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  word-wrap: break-word;
  /* Internet Explorer 5.5+ */

}
blockquote {
  font-style: italic;
}
body > footer {
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  font-size: 18px;
  color: #888;
}
#logo {
  margin: 30px;
  display: block;
  width: 199px;
  height: 81px;
  background: url(/images/logo.png) no-repeat;
}
nav {
  margin-left: 15px;
}
nav a,
#dropdown li {
  display: inline-block;
  color: white;
  line-height: 42px;
  margin: 0;
  padding: 0px 15px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  border: 2px solid transparent;
  border-width: 0 2px;
}
nav a:hover,
#dropdown li:hover {
  border: 2px solid #140805;
  border-left-color: #3d170f;
  border-right-color: #3d170f;
  border-bottom: 0;
  border-top: 0;
  background-color: #521f14;
  text-decoration: none;
}
.dark-red {
  border: 2px solid #140805;
  border-left-color: #3d170f;
  border-right-color: #3d170f;
  border-bottom: 0;
  border-top: 0;
  background-color: #521f14;
}
.content {
  margin: 0 auto;
  width: 980px;
}
#menu {
  position: absolute;
  width: 100%;
  z-index: 3;
  clear: both;
  display: block;
  background-color: #143352;
  height: 42px;
  border-top: 2px solid rgba(92, 153, 214, 0.5);
  border-bottom: 2px solid rgba(15, 38, 61, 0.5);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 0 #000;
}
#menu .content {
  position: relative;
}
#menu.docked {
  background-color: rgba(41, 102, 163, 0.4);
}
#menu:hover {
  background-color: #143352;
}
#menu #dropdown {
  margin: 0 0 0 117px;
  padding: 0;
  padding-top: 5px;
  display: none;
  width: 190px;
  border-top: 2px solid #7a2e1f;
  color: #eaf2d9;
  border: 2px solid #140805;
  border-left-color: #3d170f;
  border-right-color: #3d170f;
  border-top-width: 0;
  background-color: #521f14;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  -moz-border-top-right-radius: 0;
  -moz-border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}
#menu #dropdown ul {
  padding: 0px;
}
#menu #dropdown li {
  font-size: 14px;
  display: block;
  text-align: left;
  padding: 0;
  border: 0;
}
#menu #dropdown li a {
  display: block;
  padding: 0px 15px;
  text-decoration: none;
  color: white;
}
#menu #dropdown li a:hover {
  background-color: #3d170f;
  text-decoration: none;
}
#main {
  margin: 0 auto;
  width: 100%;
  background-color: #79c3d2;
  border-top: 8px solid #66bbcc;
}
#main h2 {
  color: #143352;
  margin: 20px 0;
  font-size: 24px;
  line-height: 1.2em;
}
#main h2 span {
  color: #7a2e1f;
}
#main h3 {
  color: #143352;
  line-height: 1.4em;
  margin: 30px 0 15px 0;
  font-size: 1em;
  text-shadow: 0px 0px 0px #e6ebe0;
}
#main h3 span {
  color: #7a2e1f;
}
#main #example {
  float: right;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 500px;
}
#main #example p {
  font-size: 18px;
  color: #143352;
  font-weight: bold;
  text-shadow: 0px 1px 1px #e6ebe0;
}
#main #example pre {
  margin: 0;
  text-shadow: 0 -1px 1px #262626;
  margin-top: 20px;
  background-color: #262626;
  border: 0;
  width: 450px;
  color: #ebefe7;
  background-repeat: repeat;
  padding: 15px;
  border: 1px dashed #e6ebe0;
  line-height: 15px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
}
#main #example pre #time {
  color: #aaaaaa;
}
.page {
  margin: 0 auto;
  font-family: 'Georgia', serif;
  font-size: 18px;
  line-height: 26px;
  padding: 0 60px;
}
.page .content {
  width: 870px;
  padding: 45px;
}
.page code {
  font-size: 16px;
}
.page pre {
  border-width: 1px;
  border-style: dashed;
  padding: 15px;
  margin: 15px 0;
}
.page h1 {
  text-align: left;
  font-size: 40px;
  margin-top: 15px;
  margin-bottom: 35px;
}
.page p + h1 {
  margin-top: 60px;
}
.page h2,
.page h3 {
  margin: 30px 0 15px 0;
}
.page p + h2,
.page pre + h2,
.page code + h2 {
  border-top: 6px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
}
.page h3 {
  margin: 15px 0;
}
.page-light {
  border-top: 2px solid #9fd5df;
  color: #143352;
  background-color: #79c3d2;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
.page-light ul li {
  list-style-type: circle;
}
.page-light h1 {
  font-family: 'Droid Serif', 'Georgia', serif;
  padding-top: 30px;
  padding-left: 45px;
  font-size: 44px;
  text-align: left;
  margin: 30px 0 !important;
  text-shadow: 0px 1px 1px #e6ebe0;
  font-weight: bold;
}
.page-light .content {
  clear: both;
  border-color: transparent;
  background-color: #d9eef2;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.page-light pre {
  color: #1f4c7a;
  background-color: #ffffff;
  border-color: #d9eef2;
  border-width: 2px;
}
.page-light pre code .attribute {
  color: #735926;
}
.page-light pre code .variable {
  color: #455445;
}
.page-light pre code .element {
  color: #3d5c57;
}
.page-light pre code .string,
.page-light pre .regexp {
  color: #70862d;
}
.page-light pre code .class {
  color: #6b572e;
  font-weight: normal;
}
.page-light pre code .id {
  color: #6b612e;
  font-weight: normal;
}
.page-light pre code .comment {
  color: rgba(0, 0, 0, 0.4);
}
.page-light pre code .number,
.page-light pre .color {
  color: #6b382e;
}
.page-light pre code .class,
.page-light pre code .mixin,
.page-light pre .special {
  color: #3d575c;
}
.page-light pre code {
  font-size: 15px;
}
.page-light p + h2,
.page-light pre + h2,
.page-light code + h2 {
  border-top-color: rgba(0, 0, 0, 0.1);
}
.page-dark {
  text-shadow: 0 -1px 1px #8c8c8c;
  color: #eaf2d9;
  background-color: #808080;
}
.page-dark a {
  text-decoration: none;
  color: #fbfbcb;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
.page-dark a:hover {
  text-decoration: none;
  border-bottom: 1px dashed #fbfbcb;
}
.page-dark .content {
  background-color: #595959;
  clear: both;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.page-dark h1,
.page-dark h2,
.page-dark h3 {
  color: #e2e2b1;
}
.page-dark pre {
  background-color: #808080;
  border-color: #f9f9b3;
}
.page-dark pre code .attribute {
  color: #d9bf8c;
}
.page-dark pre code .variable {
  color: #738c73;
}
.page-dark pre code .element {
  color: #669991;
}
.page-dark pre code .string,
.page-dark pre .regexp {
  color: #bcd279;
}
.page-dark pre code .class {
  color: #c2a770;
  font-weight: normal;
}
.page-dark pre code .id {
  color: #c2b470;
  font-weight: normal;
}
.page-dark pre code .comment {
  color: rgba(255, 255, 255, 0.2);
}
.page-dark pre code .number,
.page-dark pre .color {
  color: #b35e4d;
}
.page-dark pre code .class,
.page-dark pre code .mixin,
.page-dark pre .special {
  color: #669199;
}
.page-dark code {
  color: #dcdc9e;
}
.page-dark code .string,
.page-dark code .regexp {
  color: #87bbc5;
}
.page-dark code .keyword {
  color: #735926;
  font-weight: normal;
}
.page-dark code .comment {
  color: rgba(255, 255, 255, 0.2);
}
.page-dark code .number {
  color: #1f4c7a;
}
.page-dark code .class,
.page-dark code .special {
  color: #669199;
}
#usage {
  background-color: #262626;
}
#usage .content {
  background-color: transparent;
}
#about,
#translations {
  background-color: #262626 !important;
}
#about .content,
#translations .content {
  background-color: #2e2e2e;
}
#synopsis {
  background-color: #2e2e2e !important;
}
#synopsis .content {
  background-color: #2e2e2e;
}
#synopsis .content,
#usage .content {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
#about footer {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 6px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.35);
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.02);
}
#about footer #copy {
  font-size: 12px;
}
.warning {
  color: #DB757F;
  font-weight: bold;
}
